1000번

In [5]:
a, b = map(int, input().split())
print(a + b)

2 3
5

1001번 A-B

In [3]:
a, b = map(int, input().split())
print(a-b)

1 2
-1

10998번 A*B

In [ ]:
a, b = map(int, input().split())
print(a*b)

1008번 A/B

In [ ]:
a, b = map(int, input().split())
print(a/b)

10869번 사칙연산

In [10]:
a,b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

2 3
5
-1
6
0.6666666666666666
2

10926번 ??!

In [14]:
id = input()
print(id + "??!")

dfdf
dfdf??!

18108번 1998년생인 내가 태국에서는 2541년생?!

In [23]:
y = input()
y = int(y)
print(y-543)

1000

457

3003번 킹, 퀸, 룩, 비숍, 나이트, 폰

In [ ]:
a, b, c, d, e, f = map(int, input().split())
print(1-a, 1-b, 2-c, 2-d, 2-e, 8-f)

10430번 나머지

In [26]:
A, B, C = map(int, input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

1 2 3
0
0
2
2

2588번 곱셈

In [46]:
a, b = int(input()), int(input())
for i in str(b)[::-1]:
    print(a * int(i))
print(a*b)

472 385
2360
3776
1416
181720

In [45]:
input().split()

472 385

['472', '385']

10171번 고양이

In [54]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

10172번 개

In [60]:
print("|\\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

25083번 새싹

In [74]:
print("         ,r\'\"7")
print("r`-_   ,\'  ,/")
print(" \\. \". L_r\'")
print("   `~\\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

In [ ]:
         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |